hr {
    border: 0;
    height: 1px;

    background-image: linear-gradient(to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0)
    );
}

h1, h2, h3 {
    color: #cc584c;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 1px gray;
}

body {
    color: #333;
    background-color: #eee;

    font-family: 'Fira Code';
    font-variant: small-caps;
}

.main_article {
    background-color: #f8f8f8;
    box-shadow: 2px 2px 5px grey;
    
    border-style: solid;
    border-color: #333;
    border-width: 1px;
    border-radius: 5px;

    padding-left: 1em;
    padding-bottom: 5em;

    margin-left: 10%;
    margin-right: 10%;

    min-height: 100vh;
}

a, a:visited {
    text-decoration: none !important;
    color: #cc584c;
    font-weight: bold;
}

a:hover {
    text-shadow: 1px 1px 1px gray;
}