<!DOCTYPE html>
<html>

  <head>
    <title>LogicEmbroidery</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/style.css">
  </head>
  
  <body>
    <h1>LogicEmbroidery</h1>

    <div class="main_article">

      <h2>Expanse</h2>

      My thoughts on topic of humanity growing beyond its homeworld.

      <br>

      <a href="expanse" class="section_link">Expanse</a>



      <h2>School work</h2>

      Various things stemming (heh!) from my educational endeavours.

      <br>

      <a href="school">School work</a>


      
    </div>

  </body>

</html>